/*-------------------TOP-BAR-------------------*/
.header-top-bar {
  border-bottom: 1px solid #e9ebeb;
}

.header-top-bar-center {
  max-width: 1200px;
  margin: auto;
}

.header-deliveroo-logo {
  height: 60px;
}

/*-------------------RESTAURANT INFOS-------------------*/
.header-restaurant-info-center {
  max-width: 1200px;
  min-height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
}

.header-restaurant-info-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-restaurant-info-texts p {
  color: #868a8a;
  font-size: 19px;
  margin: 0 30px 10px 0;
  line-height: 1.5;
}

.header-restaurant-info-cover {
  max-width: 400px;
  border-radius: 5px;
}

@media only screen and (max-width: 860px) {
  .header-top-bar-center {
    width: 400px;
  }

  .header-restaurant-info-center {
    flex-direction: column;
  }

  .header-restaurant-info-texts {
    width: 400px;
  }

  .header-restaurant-info-texts p {
    margin: 0;
  }

  .header-restaurant-info-cover {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .header-top-bar-center {
    max-width: 820px;
  }

  .header-restaurant-info-center {
    max-width: 820px;
  }
}
