.meal-card {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 160px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.meal-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.meal-card-text-description {
  color: #808484;
  height: 42px;
  line-height: 20px;
  overflow: hidden;
}

.meal-price-and-popular {
  display: flex;
}

.meal-star {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.meal-popularity {
  color: #ff8000;
  font-size: 15px;
  font-weight: 700;
  margin: 0px 10px;
}

.meal-card-picture img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
}
